.idea
aoc_env/
/lib64/
/pyvenv.cfg
/lib/
/bin/
/2024/question12/input.txt
/2024/question12/test_data.txt
/2024/question12/test_data2.txt
/2024/question12/test_data3.txt
/2024/question12/test_data4.txt
/2024/question12/test_data5.txt
/2024/question13/test_data.txt
/2024/question13/input.txt
